.btn{
    background: #FFC85E;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    border: none;
    
}  

input{
    background: #EDEDED;
    height: 59px;
    border-radius: 50px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    color: #5C6370;
    opacity: 0.6;
    padding: 20px;
}