.grid-container{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.galary_title{
    color:  #FFC85E;
}
.span2{
    color: black;
}
.galary_text{
    color: #3F4E65;
}


.slider{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image_slide{
    width: 900px;
    height: 600px; 
    border-radius: 15px;
}
.left-arrow{
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #FFC85E;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    
}
.right-arrow{
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #FFC85E;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.slide{
    opacity: 0;
    transition-duration: 1s ease;

}
.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}