@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');


.location{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.nav{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.span1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    color: #888;
}
.text{
    font-family: 'Inter';
    margin-right: 40px;
}
.image{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.link{
    margin-right: 60px;
    text-decoration: none;
    font-family: 'Inter';
}